<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <%= link_to events_path do  %>
      <%= image_tag 'TimeSpace.png', class: 'navbar-image' %>
      <% end %>
      <!-- <img src="images/TimeSpace.png"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class = "container d-flex align-items-inline justify-content-center">
      <%= form_with url: events_path, method: :get, class: "d-flex" do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query, params[:query], class: "form-control string required", placeholder: "Find your time!" %>
              <%= button_tag "Now!", class: "btn btn-alert" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <%= link_to "Home", events_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class:"dropdown-item" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class:"dropdown-item" %>
            <%= link_to "My Bookings", events_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
