<div class="container">
  <div class="show-page">
    <div class="show-event">
      <div class="event-without-description">
        <div>
          <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="headline-keyinfo">
          <div class="show-event-headline">
            <h3><%= @event.name.capitalize %></h3>
            <p>$ <%= @event.price %></p>
          </div>
          <div class="show-event-infos">
            <p><strong>Category:</strong> <%= @event.category %></p>
            <p><strong>Era:</strong> <%= @event.era %></p>
            <p><strong>Year:</strong> <%= @event.year %></p>
          </div>
        </div>
      </div>
      <div class="show-event-description">
        <p><strong>Description:</strong> <%= @event.description %></p>
      </div>
    </div>


   <div class="booking-request">
       <% if @booked %>
        <h3 id="booked">This event has been booked for <%= @booking.start_date.strftime("%d.%m.%Y") %></h3>
       <% else %>
        <h2 class="form-h2">Create a new booking:</h2>
        <%= simple_form_for [@event, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.button :submit, class: "btn btn-back" %>
        <% end %>
      <% end %>
  </div>
  </div>
</div>
