<!DOCTYPE html>
<html>
  <head>
    <title>TravelBackInTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= image_tag 'TimeSpace.png', class: 'navbar-image' %>
        <!-- <img src="images/TimeSpace.png"> -->
  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
              <div class = "container d-flex align-items-inline justify-content-center">
              <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get" >
                <div class="search-form-control form-group">
                  <input class="form-control string required" type="text" name="search[query]" id="search_query" />
                  <button name="button" type="submit" class="btn btn-flat">
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
              </form>
              </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <%= link_to "Home", events_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if current_user %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class:"dropdown-item" %>
                <% else %>
                  <%= link_to "Log in", new_user_session_path, class:"dropdown-item" %>
                  <%= link_to "My Bookings", events_path, class:"dropdown-item" %>
                <% end %>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>

</div>
<div>
    <%= yield %>
</div>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>TimeEscape: See the world in a different era</p>
  </div>
</div>

  </body>
</html>
